<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Editar Perfil</title>
</head>
<body>
    <div class="profile-main">
        <div class="profile-container">
            <img src="CodeNova - logo.jpg" alt="Logo de CodeNova" title="Logo de CodeNova">
            <h2>Editar perfil</h2>
        </div>
        <form class="profile-form">
            <input type="text" name="userName" placeholder="Nombres" required>
            <input type="text" name="userLastName" placeholder="Apellidos" required>
            <input type="text" name="userAge" placeholder="Edad" required>
            <input type="email" name="userEmail" placeholder="Correo" required>

            <button type="submit" class="btn-save">GUARDAR CAMBIOS</button>
            <button type="button" class="btn-cancel">CANCELAR</button>
        </form>
    </div>
</body>
</html>
