<!-- client/src/views/home.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a CodeNova</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="main">
      <div class="container">
        <img src="/CodeNova - logo.jpg" alt="Logo de CodeNova" title="Logo de CodeNova" />
        <h2>Bienvenido a CodeNova</h2>
        <p>Tu gestor de tareas personal.</p>
        <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
          <button id="goToLogin">Iniciar Sesión</button>
          <button id="goToSignUp">Registrarse</button>
        </div>
      </div>
    </div>
  </body>
</html>
