<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Crear Tarea</title>
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <header class="header">
    <h2>Crear Tarea</h2>
    <span class="user-icon">👤</span>
  </header>

  <main class="main">
    <section class="form">
      <form id="createTaskForm">
        <input type="text" name="title" placeholder="Título de Tarea" required />
        <input type="text" name="detail" placeholder="Detalle de Tarea" />
        <input type="text" name="status" placeholder="Estado (pending / done)" required />
        <input type="date" name="date" required />
        <label for="hora">Hora de la Tarea</label>
        <input type="time" id="hora" name="time" required />
        <button type="submit" class="btn-save">Crear Tarea</button>
        <button type="button" class="btn-cancel">Cancelar</button>
      </form>
    </section>

    <section class="container">
      <img src="https://cdn-icons-png.flaticon.com/512/747/747993.png" alt="Subir Imagen" />
    </section>
  </main>
</body>
</html>