<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Registro de Usuarios</title>
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <div class="main">
    <div class="container">
      <img src="/CodeNova - logo.jpg" alt="Logo de CodeNova" title="Logo de CodeNova" />
      <h2>¡Bienvenido!</h2>
    </div>
    <form class="form" id="registerForm">
      <input type="text" name="userName" placeholder="Nombres" required />
      <input type="text" name="userLastName" placeholder="Apellidos" required />
      <input type="text" name="userAge" placeholder="Edad" required />
      <input type="email" name="userEmail" placeholder="Correo" required />
      <input type="password" name="userPassword" placeholder="Contraseña" required />
      <input type="password" name="confirPassword" placeholder="Confirmar contraseña" required />
      <div class="terms">
        <input type="checkbox" id="termsAndConditions" required />
        <label for="termsAndConditions">Acepto términos y condiciones</label>
      </div>
      <button>REGISTRAR</button>
    </form>
  </div>

  <script src="api.js"></script>
  <script>
    document.getElementById("registerForm").addEventListener("submit", async (e) => {
      e.preventDefault();

      const username = e.target.userName.value;
      const email = e.target.userEmail.value;
      const password = e.target.userPassword.value;
      const confirmPassword = e.target.confirPassword.value;

      if (password !== confirmPassword) {
        alert("Las contraseñas no coinciden");
        return;
      }

      try {
        const data = await fetch(`${API}/auth/register`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, email, password }),
        }).then(res => res.json());

        if (data.id) {
          alert("Registro exitoso, por favor inicia sesión");
          window.location.href = "login.html";
        } else {
          alert(data.message || "Error en registro");
        }
      } catch (error) {
        alert(error.message);
      }
    });
  </script>
</body>
</html>
